.jquery-qqface {
    width: 406;
    height: 163;
    padding: 5px;
    border: 3px solid #e5e5e5;
    background: #fff;
    display: none;
    position: absolute;
}
.jquery-qqface-layer {
    width: 406px;
    height: 163px;
    cursor: pointer;
    position: relative;
}
.jquery-qqface-layer i {
    width: 26px;
    height: 26px;
    border: 1px solid #ccc;
    margin: -1px 0 0 -1px;
    display: block;
    float: left;
}